<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>personal</key>
	<dict>
		<key>message</key>
		<string></string>
		<key>alert</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>maxInputLength</key>
				<integer>30</integer>
				<key>title</key>
				<string>真实姓名</string>
				<key>placeholder</key>
				<string>请输入您的真实姓名</string>
				<key>dataType</key>
				<integer>0</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
                <key>maxInputLength</key>
                <integer>36</integer>
				<key>title</key>
				<string>身份证号</string>
				<key>placeholder</key>
				<string>请输入您的身份证号</string>
				<key>dataType</key>
				<integer>1</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
                <key>maxInputLength</key>
                <integer>30</integer>
				<key>title</key>
				<string>邮      箱</string>
				<key>placeholder</key>
				<string>请输入您的邮箱</string>
				<key>dataType</key>
				<integer>2</integer>
				<key>keyboardType</key>
				<integer>7</integer>
			</dict>
			<dict>
                <key>maxInputLength</key>
                <integer>30</integer>
				<key>title</key>
				<string>手  机 号</string>
				<key>placeholder</key>
				<string>请输入您的手机号</string>
				<key>dataType</key>
				<integer>3</integer>
				<key>keyboardType</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>photo</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>icon_union_pay_identy_front</string>
				<key>title</key>
				<string>上传本人身份证正面</string>
				<key>dataType</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>icon_union_pay_identy_reverse</string>
				<key>title</key>
				<string>上传本人身份证反面</string>
				<key>dataType</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>icon_union_pay_identy_handle</string>
				<key>title</key>
				<string>本人手持身份证自拍</string>
				<key>dataType</key>
				<integer>6</integer>
			</dict>
		</array>
	</dict>
	<key>company</key>
	<dict>
		<key>message</key>
		<string></string>
		<key>alert</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
                <key>maxInputLength</key>
                <integer>30</integer>
				<key>title</key>
				<string>法人姓名</string>
				<key>placeholder</key>
				<string>请输入法人真实姓名</string>
				<key>dataType</key>
				<integer>0</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
                <key>maxInputLength</key>
                <integer>36</integer>
				<key>title</key>
				<string>身份证号</string>
				<key>placeholder</key>
				<string>请输入法人身份证号</string>
				<key>dataType</key>
				<integer>1</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
                <key>maxInputLength</key>
                <integer>30</integer>
				<key>title</key>
				<string>邮       箱</string>
				<key>placeholder</key>
				<string>请输入法人邮箱</string>
				<key>dataType</key>
				<integer>2</integer>
				<key>keyboardType</key>
				<integer>7</integer>
			</dict>
			<dict>
                <key>maxInputLength</key>
                <integer>30</integer>
				<key>title</key>
				<string>手  机  号</string>
				<key>placeholder</key>
				<string>请输入法人手机号</string>
				<key>dataType</key>
				<integer>3</integer>
				<key>keyboardType</key>
				<integer>4</integer>
			</dict>
            <dict>
                <key>maxInputLength</key>
                <integer>60</integer>
                <key>title</key>
                <string>家庭地址</string>
                <key>placeholder</key>
                <string>请输法人家庭地址</string>
                <key>dataType</key>
                <integer>24</integer>
                <key>keyboardType</key>
                <integer>0</integer>
            </dict>
		</array>
		<key>photo</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>icon_union_pay_identy_front</string>
				<key>title</key>
				<string>上传法人身份证正面</string>
				<key>dataType</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>icon_union_pay_identy_reverse</string>
				<key>title</key>
				<string>上传法人身份证反面</string>
				<key>dataType</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>icon_union_pay_identy_handle</string>
				<key>title</key>
				<string>法人手持身份证自拍</string>
				<key>dataType</key>
				<integer>6</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
