<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>personal</key>
	<array>
		<dict>
			<key>title</key>
			<string>实名认证</string>
			<key>index</key>
			<integer>1</integer>
			<key>showLeftLine</key>
			<false/>
			<key>showRightLine</key>
			<true/>
			<key>isFinished</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>账户信息</string>
			<key>index</key>
			<integer>2</integer>
			<key>showLeftLine</key>
			<true/>
			<key>showRightLine</key>
			<true/>
            <key>isFinished</key>
            <false/>
		</dict>
		<dict>
			<key>title</key>
			<string>电子签约</string>
			<key>index</key>
			<integer>3</integer>
			<key>showLeftLine</key>
			<true/>
			<key>showRightLine</key>
			<false/>
            <key>isFinished</key>
            <false/>
		</dict>
	</array>
	<key>company</key>
	<array>
		<dict>
			<key>title</key>
			<string>实名认证</string>
			<key>index</key>
			<integer>1</integer>
			<key>showLeftLine</key>
			<false/>
			<key>showRightLine</key>
			<true/>
            <key>isFinished</key>
            <true/>
		</dict>
		<dict>
			<key>title</key>
			<string>营业信息</string>
			<key>index</key>
			<integer>2</integer>
			<key>showLeftLine</key>
			<true/>
			<key>showRightLine</key>
			<true/>
            <key>isFinished</key>
            <false/>
		</dict>
		<dict>
			<key>title</key>
			<string>账户信息</string>
			<key>index</key>
			<integer>3</integer>
			<key>showLeftLine</key>
			<true/>
			<key>showRightLine</key>
			<true/>
            <key>isFinished</key>
            <false/>
		</dict>
		<dict>
			<key>title</key>
			<string>账户认证</string>
			<key>index</key>
			<integer>4</integer>
			<key>showLeftLine</key>
			<true/>
			<key>showRightLine</key>
			<true/>
            <key>isFinished</key>
            <false/>
		</dict>
		<dict>
			<key>title</key>
			<string>电子签约</string>
			<key>index</key>
			<integer>3</integer>
			<key>showLeftLine</key>
			<true/>
			<key>showRightLine</key>
			<false/>
            <key>isFinished</key>
            <false/>
		</dict>
	</array>
</dict>
</plist>
