<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>company</key>
	<dict>
		<key>message</key>
		<string></string>
		<key>alert</key>
		<string>仅支持多合一营业执照，如果持有普通营业执照，请联系商务客服</string>
		<key>list</key>
		<array>
			<dict>
                <key>maxInputLength</key>
                <integer>60</integer>
				<key>title</key>
				<string>营业名称</string>
				<key>placeholder</key>
				<string>请填写营业执照上的商户名称</string>
				<key>dataType</key>
				<integer>14</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>营业地区</string>
				<key>placeholder</key>
				<string>请选择</string>
				<key>dataType</key>
				<integer>15</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
                <key>maxInputLength</key>
                <integer>80</integer>
				<key>title</key>
				<string>详细地址</string>
				<key>placeholder</key>
				<string>例如张衡路1066号/弄</string>
				<key>dataType</key>
				<integer>18</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
                <key>maxInputLength</key>
                <integer>50</integer>
				<key>title</key>
				<string>社会统一代码</string>
				<key>placeholder</key>
				<string>请填写社会统一代码</string>
				<key>dataType</key>
				<integer>19</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>photo</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>icon_union_pay_identy_front</string>
				<key>title</key>
				<string>上传营业执照</string>
				<key>dataType</key>
				<integer>20</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
