<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>personal</key>
	<dict>
		<key>message</key>
		<string></string>
		<key>alert</key>
		<string>认证所提供的银行账户必须为储蓄卡账户，该账户将作为银联商务清算资金入账的结算账户</string>
		<key>list</key>
		<array>
			<dict>
				<key>maxInputLength</key>
				<integer>40</integer>
				<key>title</key>
				<string>银行卡号</string>
				<key>placeholder</key>
				<string>请输入银行卡号码</string>
				<key>dataType</key>
				<integer>7</integer>
				<key>keyboardType</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>开户地区</string>
				<key>placeholder</key>
				<string>请选择</string>
				<key>dataType</key>
				<integer>9</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>所属银行</string>
				<key>placeholder</key>
				<string>例如招商银行上海东方支行</string>
				<key>dataType</key>
				<integer>10</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>maxInputLength</key>
				<integer>30</integer>
				<key>title</key>
				<string>银行预留手机号</string>
				<key>placeholder</key>
				<string>请输入银行预留手机号码</string>
				<key>dataType</key>
				<integer>11</integer>
				<key>keyboardType</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>photo</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>icon_union_pay_identy_front</string>
				<key>title</key>
				<string>上传银行卡正面</string>
				<key>dataType</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>iconName</key>
				<string>icon_union_pay_identy_front</string>
				<key>title</key>
				<string>上传银行卡反面</string>
				<key>dataType</key>
				<integer>13</integer>
			</dict>
		</array>
	</dict>
	<key>company</key>
	<dict>
		<key>message</key>
		<string>提交后，银联商务将立即向您的对公账户打款一笔随机金额和验证码用于验证，请注意查收</string>
		<key>alert</key>
		<string>该账户将作为银联商务清算资金入账的结算账户</string>
		<key>list</key>
		<array>
			<dict>
				<key>maxInputLength</key>
				<integer>127</integer>
				<key>title</key>
				<string>公司开户名称</string>
				<key>placeholder</key>
				<string>请输入对公账户名称</string>
				<key>dataType</key>
				<integer>21</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>maxInputLength</key>
				<integer>40</integer>
				<key>title</key>
				<string>银行账号</string>
				<key>placeholder</key>
				<string>请输入对公账户银行账号</string>
				<key>dataType</key>
				<integer>7</integer>
				<key>keyboardType</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>开户地区</string>
				<key>placeholder</key>
				<string>请选择</string>
				<key>dataType</key>
				<integer>9</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>所属银行</string>
				<key>placeholder</key>
				<string>例如招商银行上海东方支行</string>
				<key>dataType</key>
				<integer>10</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>maxInputLength</key>
				<integer>30</integer>
				<key>title</key>
				<string>银行预留手机号</string>
				<key>placeholder</key>
				<string>请输入银行预留手机号码</string>
				<key>dataType</key>
				<integer>11</integer>
				<key>keyboardType</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>photo</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>icon_union_pay_identy_front</string>
				<key>title</key>
				<string>账户证明材料，如开户许可证、银行回执单</string>
				<key>dataType</key>
				<integer>22</integer>
			</dict>
		</array>
		<key>legallist</key>
		<array>
			<dict>
				<key>maxInputLength</key>
				<integer>20</integer>
				<key>title</key>
				<string>控股股东姓名</string>
				<key>placeholder</key>
				<string>请填写控股股东真实姓名</string>
				<key>dataType</key>
				<integer>25</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>maxInputLength</key>
				<integer>20</integer>
				<key>title</key>
				<string>身份证号</string>
				<key>placeholder</key>
				<string>请填写控股股东身份证号码</string>
				<key>dataType</key>
				<integer>26</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>maxInputLength</key>
				<integer>20</integer>
				<key>title</key>
				<string>证件有效期至</string>
				<key>placeholder</key>
				<string>请选择</string>
				<key>dataType</key>
				<integer>27</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>benificlist</key>
		<array>
			<dict>
				<key>maxInputLength</key>
				<integer>20</integer>
				<key>title</key>
				<string>受益人姓名</string>
				<key>placeholder</key>
				<string>请填写受益人真实姓名</string>
				<key>dataType</key>
				<integer>28</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>maxInputLength</key>
				<integer>20</integer>
				<key>title</key>
				<string>身份证号</string>
				<key>placeholder</key>
				<string>请填写受益人身份证号码</string>
				<key>dataType</key>
				<integer>29</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>maxInputLength</key>
				<integer>20</integer>
				<key>title</key>
				<string>证件有效期至</string>
				<key>placeholder</key>
				<string>请选择</string>
				<key>dataType</key>
				<integer>30</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>maxInputLength</key>
				<integer>200</integer>
				<key>title</key>
				<string>家庭地址</string>
				<key>placeholder</key>
				<string>请填写受益人家庭地址</string>
				<key>dataType</key>
				<integer>31</integer>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
