<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover_pic</key>
		<string>doge</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>weixiao</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>se</string>
				<key>desc</key>
				<string>色</string>
			</dict>
			<dict>
				<key>image</key>
				<string>deyi</string>
				<key>desc</key>
				<string>得意</string>
			</dict>
			<dict>
				<key>image</key>
				<string>haixiu</string>
				<key>desc</key>
				<string>害羞</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ciya</string>
				<key>desc</key>
				<string>呲牙</string>
			</dict>
			<dict>
				<key>image</key>
				<string>touxiao</string>
				<key>desc</key>
				<string>偷笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>guzhang</string>
				<key>desc</key>
				<string>鼓掌</string>
			</dict>
			<dict>
				<key>image</key>
				<string>wulian</string>
				<key>desc</key>
				<string>捂脸</string>
			</dict>
			<dict>
				<key>image</key>
				<string>jizhi</string>
				<key>desc</key>
				<string>机智</string>
			</dict>
			<dict>
				<key>image</key>
				<string>ye</string>
				<key>desc</key>
				<string>耶</string>
			</dict>
			<dict>
				<key>image</key>
				<string>xieyanxiao</string>
				<key>desc</key>
				<string>斜眼笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>bishi</string>
				<key>desc</key>
				<string>鄙视</string>
			</dict>
			<dict>
				<key>image</key>
				<string>xiaoku</string>
				<key>desc</key>
				<string>笑哭</string>
			</dict>
			<dict>
				<key>image</key>
				<string>chiguaqunzhong</string>
				<key>desc</key>
				<string>吃瓜群众</string>
			</dict>
			<dict>
				<key>image</key>
				<string>chensi</string>
				<key>desc</key>
				<string>沉思</string>
			</dict>
			<dict>
				<key>image</key>
				<string>qiujianding</string>
				<key>desc</key>
				<string>求鉴定</string>
			</dict>
			<dict>
				<key>image</key>
				<string>qiuguanzhu</string>
				<key>desc</key>
				<string>求关注</string>
			</dict>
			<dict>
				<key>image</key>
				<string>buxingdai</string>
				<key>desc</key>
				<string>不兴戴</string>
			</dict>
			<dict>
				<key>image</key>
				<string>maye</string>
				<key>desc</key>
				<string>妈耶</string>
			</dict>
			<dict>
				<key>image</key>
				<string>aixin</string>
				<key>desc</key>
				<string>爱心</string>
			</dict>
			<dict>
				<key>image</key>
				<string>xinsui</string>
				<key>desc</key>
				<string>心碎</string>
			</dict>
			<dict>
				<key>image</key>
				<string>meigui</string>
				<key>desc</key>
				<string>玫瑰</string>
			</dict>
			<dict>
				<key>image</key>
				<string>diaoxie</string>
				<key>desc</key>
				<string>凋谢</string>
			</dict>
			<dict>
				<key>image</key>
				<string>qiang</string>
				<key>desc</key>
				<string>强</string>
			</dict>
			<dict>
				<key>image</key>
				<string>OK</string>
				<key>desc</key>
				<string>OK</string>
			</dict>
			<dict>
				<key>image</key>
				<string>woshou</string>
				<key>desc</key>
				<string>握手</string>
			</dict>
			<dict>
				<key>image</key>
				<string>quantou</string>
				<key>desc</key>
				<string>拳头</string>
			</dict>
			<dict>
				<key>image</key>
				<string>V5</string>
				<key>desc</key>
				<string>威武</string>
			</dict>
			<dict>
				<key>image</key>
				<string>geili</string>
				<key>desc</key>
				<string>给力</string>
			</dict>
			<dict>
				<key>image</key>
				<string>jiandingweizhen</string>
				<key>desc</key>
				<string>鉴定为真</string>
			</dict>
			<dict>
				<key>image</key>
				<string>jiandingweijia</string>
				<key>desc</key>
				<string>鉴定为假</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cover_pic</key>
		<string>xiaohaha</string>
		<key>emoticons</key>
		<array/>
	</dict>
</array>
</plist>
