<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>是否已评估</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>全部</string>
				<key>keyword</key>
				<string>normal</string>
			</dict>
			<dict>
				<key>title</key>
				<string>已评估</string>
				<key>keyword</key>
				<string>assessmented</string>
			</dict>
			<dict>
				<key>title</key>
				<string>未评估</string>
				<key>keyword</key>
				<string>un_assessment</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>是否推荐</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>全部</string>
				<key>keyword</key>
				<string>normal</string>
			</dict>
			<dict>
				<key>title</key>
				<string>已推荐</string>
				<key>keyword</key>
				<string>recommended</string>
			</dict>
			<dict>
				<key>title</key>
				<string>未推荐</string>
				<key>keyword</key>
				<string>un_recommend</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>时间筛选</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>全部</string>
				<key>keyword</key>
				<string>normal</string>
			</dict>
			<dict>
				<key>title</key>
				<string>3日内</string>
				<key>keyword</key>
				<string>three</string>
			</dict>
			<dict>
				<key>title</key>
				<string>7日内</string>
				<key>keyword</key>
				<string>seven</string>
			</dict>
			<dict>
				<key>title</key>
				<string>30日内</string>
				<key>keyword</key>
				<string>thirty</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>填写备注</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>全部</string>
				<key>keyword</key>
				<string>normal</string>
			</dict>
			<dict>
				<key>title</key>
				<string>未填写</string>
				<key>keyword</key>
				<string>un_remark</string>
			</dict>
			<dict>
				<key>title</key>
				<string>已填写</string>
				<key>keyword</key>
				<string>remarked</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
